<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none" >
    <listeners>
        <listener class-name="za.co.ilab.tshimx.utils.TestListener"/>
    </listeners>
    <test  name="AutomationAssessment - ApplyOnlineTest 01 : " >
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="za.co.ilab.tshimx.testcases.ApplyOnlineTest"/>
        </classes>
    </test>

    <test  name="AutomationAssessment - ApplyOnlineTest 02 : ">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="za.co.ilab.tshimx.testcases.ApplyOnlineTest"/>
        </classes>
    </test>


</suite>